.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 280px;
    height: 90px;
}

.header-menu{
    list-style: none;
    display: flex;
    gap: 2em;
    color: white;
}

.header-menu>li{
    cursor: pointer;
}
.header-menu>li:hover{
    color: #74C69D;
    cursor: pointer;
}